<script setup lang="ts">
import { availableLocales, loadLanguageAsync } from '~/modules/i18n'

const { t, locale } = useI18n()

async function toggleLocales() {
  // change to some real logic
  const locales = availableLocales
  const newLocale = locales[(locales.indexOf(locale.value) + 1) % locales.length]
  await loadLanguageAsync(newLocale)
  locale.value = newLocale
}
</script>

<template>
  <div position-fixed bottom-0 left-0 style="width: 100%; background: rgba(0,0,0,0.15); backdrop-filter: blur(7px);">
    <nav flex="~ gap-4" my-6 justify-center text-xl text="gray-950 dark:gray-200">
      <RouterLink icon-btn to="/" :title="t('button.home')">
        <div i-carbon-campsite />
      </RouterLink>

      <button icon-btn :title="t('button.toggle_fullscreen')" @click="toggleFullscreen()">
        <div i-carbon-screen />
      </button>

      <button icon-btn :title="t('button.toggle_dark')" @click="toggleDark()">
        <div i="carbon-sun dark:carbon-moon" />
      </button>

      <a icon-btn :title="t('button.toggle_langs')" @click="toggleLocales()">
        <div i-carbon-language />
      </a>

      <RouterLink icon-btn to="/about" :title="t('button.about')" data-test-id="about">
        <div i-carbon-dicom-overlay />
      </RouterLink>

      <a icon-btn rel="noreferrer" href="https://gitlab.com/mblackrittr/tests/tree/master/packages/surrealdb-logo-3d-webgl-svg/" target="_blank" title="Repository on GitLab">
        <div i-carbon-logo-gitlab />
      </a>
    </nav>
  </div>
</template>
